/*--------------
	Error Page
----------------*/

h1#error_code {
	font-family: 'Roboto', sans-serif;
	font-size: 54px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: center;
}

h2#return_home {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 300;
	margin: 0;
	line-height: 1.5;
	padding: 20px 0;
	text-align: center;
}

div#turnAround {
	text-align: center;
}

div#turnAround a {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 600;
}