html, body {
    height: 100%;
}

body {
    background-color: #eee;
}

/*--------------
	Navigation
----------------*/

nav {
	background-color: #50A0AF;
	padding: 0 10px;
}

nav .brand-logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

nav .nav-wrapper i {
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;
}

ul.side-nav li.home:hover {
  background-color: inherit;
}

ul.side-nav li.home {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 24px;
}

ul.side-nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

nav ul a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

/*--------------
	Front Page
----------------*/

#welcome {
	margin-top: 30px;
}

#welcome p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

#welcome img {
	width: 600px;
	border-bottom: 1px solid #000;
}

/* Mobile optimizations */

@media (max-width: 800px) {
	#welcome img { width: 500px; }
	#welcome p { font-size: 24px; }
}

@media (max-width: 600px) {
	#welcome img { width: 400px; }
}

@media (max-width: 440px) {
	#welcome img { width: 300px; }
	#welcome p { font-size: 20px; }
}

@media (max-width: 353px) {
	#welcome img { display: none; }
}