html, body {
    height: 100%;
}

body {
    background-color: #FBFBFB;
}

/*--------------
	Navigation
----------------*/

nav {
	background-color: #50A0AF;
	padding: 0 10px;
}

nav .brand-logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

nav .nav-wrapper i {
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;
}

ul.side-nav li.home:hover {
  background-color: inherit;
}

ul.side-nav li.home {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 24px;
}

ul.side-nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

nav ul a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

/*--------------
	Front Page
----------------*/

#welcome {
	margin-top: 30px;
}

#welcome p {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
}

#welcome img {
	width: inherit;
	border-bottom: 1px solid #000;
}

/*--------------
	Error Page
----------------*/

h1#error_code {
	font-family: 'Roboto', sans-serif;
	font-size: 54px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h2#return_home {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 300;
	margin: 0;
}

a#turnAround {
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

/*--------------
	Spinner
----------------*/

#spinner {
	display: none;
	text-align: center;
	padding: 20px;
}