<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoREdash</title>
    {% include 'includes/head.html' %}
  </head>
  <body>
    {% include 'includes/nav.html' %}
    <div id="welcome" class="container">
      <div class="row">
        <div class="col s12 center-align">
          <img src="{{ url_for('static', filename='assets/img/logo.png') }}" />
        </div>
      </div>
      <div class="row">
        <div class="card col s12 center-align">
          <p>CoREdash provides a quick, simple means for CORE members to communicate and access important documents.</p>
          <p>Not sure what CoRE is? Check out our <a href="http://core.binghamton.edu/">website</a>!</p>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('.button-collapse').sideNav();
      });
    </script>
  </body>
</html>
