<!doctype html>
<html class="no-js" lang="en">
  {% with title="CoREdash" %}{% include 'includes/head.html' %}{% endwith %}
  <body>
    {% include 'includes/nav.html' %}

    <div id="welcome" class="container">
      <div class="row">
        <div class="col s12 center-align">
          <img src="{{ url_for('static', filename='assets/img/logo.png') }}" />
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <p>CoREdash provides a quick, simple means for CORE members to communicate and access important documents.</p>
          <p>Not sure what CoRE is? Check out our <a href="http://core.binghamton.edu/">website</a>!</p>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='assets/js/signin.js') }}"></script>
    <script>
      $(document).ready(function() {
        $('#disconnect').click(helper.disconnect);
        $(".button-collapse").sideNav();
      });
    </script>
  </body>
</html>
