<!DOCTYPE html>
<html>
<head>
  <title>CoRE Manager</title>
  <script src="https://apis.google.com/js/client:platform.js" async defer></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
</head>
<body>
  <div id="gConnect">
    <button class="g-signin"
        data-scope="https://www.googleapis.com/auth/plus.login profile email"
        data-clientId="615316435724-k7gu8chlmqc3gkuru56bamcr4f9pv7sm.apps.googleusercontent.com"
        data-callback="onSignInCallback"
        data-theme="dark"
        data-cookiepolicy="single_host_origin">
    </button>
  </div>
  <div id="authOps" style="display:none">

    <h2>Authenticated User Information:</h2>
    <div id="userInfo"></div>
    <button id="disconnect" >Disconnect your Google account from this app</button>

    <h2>Authentication Logs</h2>
    <pre id="authResult"></pre>
  </div>
  <div id="loaderror"></div>
<script type="text/javascript">
  var helper = (function() {
  var BASE_API_PATH = 'plus/v1/';

  return {
    /**
     * Hides the sign in button and starts the post-authorization operations.
     *
     * @param {Object} authResult An Object which contains the access token and
     *   other authentication information.
     */
    onSignInCallback: function(authResult) {
      gapi.client.load('plus','v1').then(function() {
        $('#authResult').html('Auth Result:<br/>');
        for (var field in authResult) {
          $('#authResult').append(' ' + field + ': ' +
              authResult[field] + '<br/>');
        }
        if (authResult['access_token']) {
          $('#authOps').show('slow');
          $('#gConnect').hide();
          helper.profile();
        } else if (authResult['error']) {
          $('#authResult').append('Logged out');
          $('#authOps').hide('slow');
          $('#gConnect').show();
        }
      });
    },

    /**
     * Gets and renders the currently signed in user's profile data.
     */
    profile: function(){
      gapi.client.plus.people.get({
        'userId': 'me'
      }).then(function(res) {
        console.log('res', res);
        var profile = res.result;
        $('#userInfo').empty();
        $('#userInfo').append(
            $('<p><img src=\"' + profile.image.url + '\"></p>'));
        $('#userInfo').append('<p>Hello ' + profile.displayName + '!');
        if (profile.cover && profile.coverPhoto) {
          $('#userInfo').append('<p><img src=\"' + profile.cover.coverPhoto.url + '\"></p>');
        }

        var primaryEmail;
        for (var i=0; i < profile.emails.length; i++) {
          if (profile.emails[i].type === 'account') primaryEmail = profile.emails[i].value;
        }
        $("#userInfo").append('<p>Primary email: ' + primaryEmail + '</p>');
      }, function(err) {
        var error = err.result;
        $('#userInfo').empty();
        $('#userInfo').append(error.message);
      });
    },

    /**
     * Calls the OAuth2 endpoint to disconnect the app for the user.
     */
    disconnect: function() {
      // Revoke the access token.
      $.ajax({
        type: 'GET',
        url: 'https://accounts.google.com/o/oauth2/revoke?token=' + gapi.auth.getToken().access_token,
        async: false,
        contentType: 'application/json',
        dataType: 'jsonp',
        success: function(result) {
          console.log('revoke response: ' + result);
          $('#authOps').hide();
          $('#userInfo').empty();
          $('#authResult').empty();
          $('#gConnect').show();
        }
      });
    }
  };
})();

/**
 * jQuery initialization
 */
$(document).ready(function() {
  $('#disconnect').click(helper.disconnect);
  $('#loaderror').hide();
});

/**
 * Calls the helper method that handles the authentication flow.
 *
 * @param {Object} authResult An Object which contains the access token and
 *   other authentication information.
 */
function onSignInCallback(authResult) {
  helper.onSignInCallback(authResult);
}
</script>
</body>
</html>
