<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoREdash | Login</title>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/authentication.css') }}" />
  </head>
  <body class="valign-wrapper">
    <div id="loginArea" class="container">
      <div class="card valign">
        <div class="card-content center-align">
          <div id="title-wrapper">
            <span class="card-title grey-text text-darken-4">CoREdash Login</span>
            {% if not credentials.user %}
            <div id="g-signin-wrapper">
              <div class="g-signin">
                <a href="{{ url_for('authenticate') }}"><img src="{{ url_for('static', filename='assets/img/g-signin.png') }}" /></a>
              </div>
            </div>
            {% endif %}
          </div>
          <hr class="title-divider" />
          {% if credentials.error %}
            <div id="error">{{ credentials.error.message }}</div>
          {% endif %}
          <div class="row center-align">
            <div id="spinner">
              <img src="{{ url_for('static', filename='assets/img/gears.svg') }}" />
            </div>
            {% if credentials.user %}
              <p>Hi {{ credentials.user.name }}</p>
              <p>Your id is: {{ credentials.user.id }}</p>
              <p>Your email is: {{ credentials.user.email }}</p>
            {% else %}
              <form id="loginForm" class="col s12">
                <div class="input-field col s12">
                  <i class="mdi-action-account-box prefix"></i>
                  <input id="username" type="text" class="validate">
                  <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                  <i class="mdi-action-lock-outline prefix"></i>
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div>
                  <a class="waves-effect waves-light btn" type="submit">Login</a>
                </div>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.button-collapse').sideNav();
      });
    </script>
  </body>
</html>
